@model List<Woody_DT.Models.CartItem>


<div class="check-account dp-iblock">
    <a href="/gio-hang" class="account link-color" style="padding-left: 19px;padding-right: 10px;"></a>
    <a href="/gio-hang"><i class='fas fa-shopping-cart'>@Model.Count</i></a>

</div>
