
@{
    ViewBag.Title = "about";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="myAcc myAcc2">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="myAccSidebar">
                    <li class="clearfix " style=" border-top: 1px solid #d9d9d9;">
                        <a href="AccountDetail.html">
                            <p>Account Detail</p>
                            <i class="la la-user"></i>
                        </a>
                    </li>
                    <li class="clearfix">
                        <a href="Address.html">
                            <p>Address</p>
                            <i class="la la-home"></i>
                        </a>
                    </li>
                    <li class="clearfix">
                        <a href="PaymentMenthod.html">
                            <p>Payment Menthod</p>
                            <i class="la la-cc-mastercard"></i>
                        </a>
                    </li>
                    <li class="clearfix active">
                        <a href="RecentOrder.html">
                            <p>Recent Order</p>
                            <i class="la la-shopping-cart"></i>
                        </a>
                    </li>
                    <li class="clearfix">
                        <a href="Home.html">
                            <p>Logout</p>
                            <i class="la la-sign-out"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9">
                <h3 style="margin-bottom: 30px;text-align: left">recent order</h3>
                <div class="panel-group" id="faqAccordion">
                    <div class="panel panel-default faq-coat" style="border: none;    box-shadow: none;">
                        <div class="panel-heading faq-head bd-color-left-setting active" data-toggle="collapse"
                             data-parent="#faqAccordion" data-target="#question0" aria-expanded="true"
                             style="background: rgb(193, 155, 118);   ">
                            <h4 class="panel-title">
                                2019-08-19
                            </h4>
                            <span class="accordion-toggle question-toggle collapsed">
                                <i class="fa color-setting fa-minus" aria-hidden="true"></i>
                            </span>
                            <p style="  position: absolute;
                                            right: 19px;
                                            top: 14px;
                                            font-size: 16px;
                                            color: #fff;">$860</p>
                        </div>
                        <div id="question0" class="panel-collapse collapse in" aria-expanded="true" style="">
                            <div class="panel-body " style=" background: #fff;padding: 30px">
                                <div class="row">
                                    <div class="col-md-2">
                                        <img src="~/Asset/User/images/2.png" alt="product" class="img-responsive">
                                    </div>
                                    <div class="col-md-2" style="text-align: center;padding-top: 58px;">
                                        Milf
                                    </div>
                                    <div class="col-md-2" style="text-align: right;padding-top: 58px;">
                                        $75.00
                                    </div>
                                    <div class="col-md-2" style="padding-top: 50px;">
                                        <div class="sidebar-filter-color">
                                            <ul class="clearfix">
                                                <li class="tooltip"
                                                    style="background: #ffd098;margin-bottom: 0px;margin-right: 0px;float: right;">
                                                    <span class="tooltiptext">Tooltip text</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-2" style="text-align: right;padding-top: 50px;">
                                        <div style="border-bottom: 1px solid rgb(193, 155, 118);
                                            width: 50px;
                                               font-weight: bold;
                                            text-align: center;
                                            float: right;
                                            padding-bottom: 10px;">
                                            2
                                        </div>
                                    </div>
                                    <div class="col-md-2" style="text-align: right;padding-top: 58px;"> $174</div>
                                </div>
                                <div class="lineAbout" style="width: 100%;height: 1px;margin-top: 20px;"></div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <img src="~/Asset/User/images/4.png" alt="product"
                                             class="product-img-first img-responsive">
                                    </div>
                                    <div class="col-md-2" style="text-align: center;padding-top: 58px;">
                                        Milf
                                    </div>
                                    <div class="col-md-2" style="text-align: right;padding-top: 58px;">
                                        $75.00
                                    </div>
                                    <div class="col-md-2" style="padding-top: 50px;">
                                        <div class="sidebar-filter-color">
                                            <ul class="clearfix">
                                                <li class="tooltip"
                                                    style="background: #af793a;margin-bottom: 0px;margin-right: 0px;float: right;">
                                                    <span class="tooltiptext">Tooltip text</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-2" style="text-align: right;padding-top: 50px;">
                                        <div style="border-bottom: 1px solid rgb(193, 155, 118);
                                            width: 50px;
                                                 font-weight: bold;
                                            text-align: center;
                                            float: right;
                                            padding-bottom: 10px;">
                                            2
                                        </div>
                                    </div>
                                    <div class="col-md-2" style="text-align: right;padding-top: 58px;"> $174</div>
                                </div>
                                <div class="lineAbout" style="width: 100%;height: 1px;margin-top: 20px;"></div>

                                <div class="row">
                                    <div class="col-md-2">
                                        <img src="~/Asset/User/images/6.png" alt="product"
                                             class="product-img-first img-responsive">
                                    </div>
                                    <div class="col-md-2" style="text-align: center;padding-top: 58px;">
                                        World
                                        Map XL
                                    </div>
                                    <div class="col-md-2" style="text-align: right;padding-top: 58px;">
                                        $75.00
                                    </div>
                                    <div class="col-md-2" style="padding-top: 50px;">
                                        <div class="sidebar-filter-color">
                                            <ul class="clearfix">
                                                <li class="tooltip"
                                                    style="background: #f7bb66;margin-bottom: 0px;margin-right: 0px;float: right;">
                                                    <span class="tooltiptext">Tooltip text</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-2" style="text-align: right;padding-top: 50px;">
                                        <div style="border-bottom: 1px solid rgb(193, 155, 118);
                                            width: 50px;
                                            font-weight: bold;
                                            text-align: center;
                                            float: right;
                                            padding-bottom: 10px;">
                                            2
                                        </div>
                                    </div>
                                    <div class="col-md-2" style="text-align: right;padding-top: 58px;"> $174</div>
                                </div>
                            </div>


                        </div>
                    </div>

                    <div class="panel panel-default faq-coat" style="border: none;    box-shadow: none;">
                        <div class="panel-heading faq-head bd-color-left-setting" data-toggle="collapse"
                             data-parent="#faqAccordion" data-target="#question1">
                            <h4 class="panel-title">
                                2019-01-22
                            </h4>
                            <span class=" accordion-toggle question-toggle collapsed">
                                <i class="fa fa-plus color-setting" aria-hidden="true"></i>
                            </span>
                            <p style="  position: absolute;
                                            right: 19px;
                                            top: 14px;
                                            font-size: 16px;
                                            color: #fff;">$732</p>
                        </div>
                        <div id="question1" class="panel-collapse collapse ">
                            <div class="panel-body " style=" background: #fff;padding: 30px">
                                <div class="row">
                                    <div class="col-md-2">
                                        <img src="~/Asset/User/images/2.png" alt="product" class="img-responsive">
                                    </div>
                                    <div class="col-md-2" style="text-align: center;padding-top: 58px;">
                                        Magic
                                        Clock
                                    </div>
                                    <div class="col-md-2" style="text-align: right;padding-top: 58px;">
                                        $75.00
                                    </div>
                                    <div class="col-md-2" style="padding-top: 50px;">
                                        <div class="sidebar-filter-color">
                                            <ul class="clearfix">
                                                <li class="tooltip"
                                                    style="background: #ffd098;margin-bottom: 0px;margin-right: 0px;float: right;">
                                                    <span class="tooltiptext">Tooltip text</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-2" style="text-align: right;padding-top: 50px;">
                                        <div style="border-bottom: 1px solid rgb(193, 155, 118);
                                            width: 50px;
                                            /* margin-left: 0; */
                                            text-align: center;
                                            float: right;
                                            padding-bottom: 10px;">
                                            2
                                        </div>
                                    </div>
                                    <div class="col-md-2" style="text-align: right;padding-top: 58px;"> $174</div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <!--                        <div class="panel panel-default faq-coat">-->
                    <!--                            <div class="panel-heading faq-head addMore">-->
                    <!--                                <h4 class="panel-title" style="text-align: center;display: block;">-->
                    <!--                                    <i class="fa fa-plus color-setting" aria-hidden="true"-->
                    <!--                                       style="margin-right: 9px;"></i> Add More-->
                    <!--                                </h4>-->
                    <!--                            </div>-->
                    <!--                        </div>-->

                </div>
            </div>
        </div>
    </div>
</section>
